/* Set the background color to #0a2136 and text color to white */
  body {
    background-color: #0a2136;
    color: white;
    margin: 0;
    font-size: 16px; /* Adjust the font size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Change flex direction to horizontal */
    min-height: 100vh; /* Use min-height to make sure the content takes at least the full height of the viewport */
  }

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Set height to 100% */
    width: 200px; /* Double the width of the sidebar */
    overflow-y: auto; /* Enable vertical scrolling */
    background: linear-gradient(to right, white, #0a2136);
    padding: 20px;
    box-sizing: border-box;
    z-index: 1; /* Ensure the sidebar appears above other content */
  }

/* Style for each item in the sidebar */
  .sidebar-item {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within the item */
    transition: background-color 0.3s; /* Add smooth transition for background color change */
  }

/* Change background color on hover */
  .sidebar-item:hover {
    background-color: #0EBEC7; /* Dark blue background on hover */
    border-radius: 10px; /* Adjust the value to control the roundness */
  }
 
  /* Style for the images in the sidebar */
  .sidebar-item img {
    width: 60%;
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
  }

/* Style for the sidebar item text */
  .sidebar-item p {
    color: #FFFFFF; /* Set the sidebar text color to #FFFFFF */
    margin: 0;
    font-size: 20px; /* Adjust the font size as needed */
    text-align: center; /* Center the text */
  }
 
/* Style for the main content container */
  #mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 250px; /* Adjust the margin to accommodate the sidebar width */
  }

/* Style for the main page image */
  #mainPageImage {
    text-align: center; /* Center the content horizontally */
    margin-bottom: 10px; /* Add margin below the image */
  }
 
  /* Style for the large text at the top */
  #pageHeading {
    color: #0EBEC7;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center; /* Center the text */
  }

/* Style for the image below the large text */
  #headerImage {
    width: 50%; /* Set the image width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add margin below the image */
  }

/* Style for the container of two side-by-side white-lined boxes */
  #container {
    display: flex;
    gap: 20px; /* Adjust the gap between the two boxes */
    justify-content: center; /* Center the boxes horizontally */
  }

/* Style for each white-lined box */
  .box {
    width: 300%; /* Triple the width of each box */
    box-sizing: border-box;
    border: 3px solid #FFFFFF; /* Add a 5px white border */
    padding: 45px; /* Triple the padding for a larger box */
  }

/* Style for the three columns */
  .column {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #0EBEC7; /* Add a 3px blue border */
    margin-bottom: 30px; /* Increase margin between columns */
    text-align: center; /* Center the text in the columns */
  }

/* Style for the images */
  .column img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

/* Style for the main video iframe container */
  #videoFrameContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%; 
    background-color: #fff;
    z-index: 1000;
    padding: 30px; /* Increase padding for a larger box */
    box-sizing: border-box;
  }

  #customIframeContent {
    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 95%;
     height: 95%;
     background: #0a2136;
     border-radius: 10px;
     overflow: hidden;
     padding: 20px;
  }

/* Style for the main PDF iframe container */
  #mainPDFFrameContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%; 
    background-color: #fff;
    z-index: 1000;
    padding: 30px; /* Increase padding for a larger box */
    box-sizing: border-box;
  }

/* Style for the close button in the iframe container */
  #closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #FF7273; /* Use the same color as the background for the close button */
    font-size: 32px;
  }

/* Style for the text below images */
  .column p {
    color: white;
    font-size: 18px; /* Adjust the font size as needed */
  }

/* Style for buttons and iframe content */
  button, iframe {
    background-color: #0a2136;
    color: white;
    border: none;
    padding: 30px; /* Triple the padding for a larger button */
    margin: 15px; /* Triple the margin for a larger button */
    cursor: pointer;
    font-size: 16px; /* Adjust the font size as needed */
  }

.white-button {
    background-color: white;
    color: #0a2136;
    border: 2px solid #0EBEC7;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
  }

/* Change background color on hover */
  .white-button:hover {
    background-color: #FF7273; /* Light red background on hover */
  }

    #iframeOverlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0a2136;
      z-index: 999;
    }

    #iframeContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px;
    }

    .iframeColumn {
      box-sizing: border-box;
      width: 48%;
      border: 2px solid #0ebec7;
      margin: 10px;
    }

    .iframeColumn iframe {
      width: 60%;
      height: 60%;
      border: 0;
    }

    #iframeContainer .iframeColumn:nth-child(odd) {
      clear: both;
    }

    /* Add your custom CSS styles here */
    #customIframeContainer {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: 9999; /* Set a high z-index to overlay other elements */
    }

    @media (min-width: 768px) {
      #customIframeContainer {
        width: calc(100% - 200px); /* Adjust the width to exclude sidebar width */
        left: 200px; /* Adjust left to match sidebar width */
      }
    }

    #customIframeContent {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      height: 95%;
      background: #0a2136;
      border-radius: 10px;
      overflow: hidden;
      padding: 20px;
    }

    .customBoxContainer {
      display: flex;
      justify-content: space-between;
    }

    .secondBoxContainer {
      display: flex;
      justify-content: space-between;
    }

    .thirdBoxContainer {
      display: flex;
      justify-content: space-between;
    }

    .fourthBoxContainer {
      display: flex;
      justify-content: space-between;
    }

    .fifthBoxContainer {
      display: flex;
      justify-content: space-between;
    }

    .sixthBoxContainer {
      display: flex;
      justify-content: space-between;
    }

    .seventhBoxContainer {
      display: flex;
      justify-content: space-between;
    }

    .customBox {
      width: 48%;
      margin: 1%;
      display: inline-block;
      text-align: center;
      background-color: #0a2136; /* Background color for each box */
      border: 2px solid #0ebec7; /* Border color */
      border-radius: 5px; /* Border radius */
      padding: 10px; /* Padding inside each box */
    }

    .customBox img {
      width: 100%;
      height: auto;
      max-height: 350px;
      border-radius: 5px;
    }

    .customBox p {
      margin: 10px 0;
    }

    .customBox button {
      padding: 10px;
      margin: 5px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .customBox button {
        background-color: white;
        color: #0a2136;
        border: 2px solid #0EBEC7;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
      }

    /* Change background color on hover */
      .customBox button:hover {
        background-color: #FF7273; /* Light red background on hover */
      }

      .secondBox {
        width: 48%;
        margin: 1%;
        display: inline-block;
        text-align: center;
        background-color: #0a2136; /* Background color for each box */
        border: 2px solid #0ebec7; /* Border color */
        border-radius: 5px; /* Border radius */
        padding: 10px; /* Padding inside each box */
      }
  
      .secondBox img {
        width: 100%;
        height: auto;
        max-height: 350px;
        border-radius: 5px;
      }
  
      .secondBox p {
        margin: 10px 0;
      }
  
      .secondBox button {
        padding: 10px;
        margin: 5px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
  
      .secondBox button {
          background-color: white;
          color: #0a2136;
          border: 2px solid #0EBEC7;
          padding: 10px;
          margin-top: 10px;
          cursor: pointer;
          font-size: 14px;
          border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
        }
  
      /* Change background color on hover */
        .secondBox button:hover {
          background-color: #FF7273; /* Light red background on hover */
        }

        .thirdBox {
          width: 48%;
          margin: 1%;
          display: inline-block;
          text-align: center;
          background-color: #0a2136; /* Background color for each box */
          border: 2px solid #0ebec7; /* Border color */
          border-radius: 5px; /* Border radius */
          padding: 10px; /* Padding inside each box */
        }
    
        .thirdBox img {
          width: 100%;
          height: auto;
          max-height: 350px;
          border-radius: 5px;
        }
    
        .thirdBox p {
          margin: 10px 0;
        }
    
        .thirdBox button {
          padding: 10px;
          margin: 5px;
          background-color: #4CAF50;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
    
        .thirdBox button {
            background-color: white;
            color: #0a2136;
            border: 2px solid #0EBEC7;
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 14px;
            border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
          }
    
        /* Change background color on hover */
          .thirdBox button:hover {
            background-color: #FF7273; /* Light red background on hover */
          }

        .fourthBox {
          width: 48%;
          margin: 1%;
          display: inline-block;
          text-align: center;
          background-color: #0a2136; /* Background color for each box */
          border: 2px solid #0ebec7; /* Border color */
          border-radius: 5px; /* Border radius */
          padding: 10px; /* Padding inside each box */
        }
    
        .fourthBox img {
          width: 100%;
          height: auto;
          max-height: 350px;
          border-radius: 5px;
        }
    
        .fourthBox p {
          margin: 10px 0;
        }
    
        .fourthBox button {
          padding: 10px;
          margin: 5px;
          background-color: #4CAF50;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
    
        .fourthBox button {
            background-color: white;
            color: #0a2136;
            border: 2px solid #0EBEC7;
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 14px;
            border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
          }
    
        /* Change background color on hover */
          .fourthBox button:hover {
            background-color: #FF7273; /* Light red background on hover */
          }

        .fifthBox {
          width: 48%;
          margin: 1%;
          display: inline-block;
          text-align: center;
          background-color: #0a2136; /* Background color for each box */
          border: 2px solid #0ebec7; /* Border color */
          border-radius: 5px; /* Border radius */
          padding: 10px; /* Padding inside each box */
        }
    
        .fifthBox img {
          width: 100%;
          height: auto;
          max-height: 350px;
          border-radius: 5px;
        }
    
        .fifthBox p {
          margin: 10px 0;
        }
    
        .fifthBox button {
          padding: 10px;
          margin: 5px;
          background-color: #4CAF50;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
    
        .fifthBox button {
            background-color: white;
            color: #0a2136;
            border: 2px solid #0EBEC7;
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 14px;
            border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
          }
    
        /* Change background color on hover */
          .fifthBox button:hover {
            background-color: #FF7273; /* Light red background on hover */
          }

        .sixthBox {
          width: 48%;
          margin: 1%;
          display: inline-block;
          text-align: center;
          background-color: #0a2136; /* Background color for each box */
          border: 2px solid #0ebec7; /* Border color */
          border-radius: 5px; /* Border radius */
          padding: 10px; /* Padding inside each box */
        }
    
        .sixthBox img {
          width: 100%;
          height: auto;
          max-height: 350px;
          border-radius: 5px;
        }
    
        .sixthBox p {
          margin: 10px 0;
        }
    
        .sixthBox button {
          padding: 10px;
          margin: 5px;
          background-color: #4CAF50;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
    
        .sixthBox button {
            background-color: white;
            color: #0a2136;
            border: 2px solid #0EBEC7;
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 14px;
            border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
          }
    
        /* Change background color on hover */
          .sixthBox button:hover {
            background-color: #FF7273; /* Light red background on hover */
          }

        .seventhBox {
            width: 48%;
            margin: 1%;
            display: inline-block;
            text-align: center;
            background-color: #0a2136; /* Background color for each box */
            border: 2px solid #0ebec7; /* Border color */
            border-radius: 5px; /* Border radius */
            padding: 10px; /* Padding inside each box */
          }
        
          .seventhBox img {
            width: 100%;
            height: auto;
            max-height: 350px;
            border-radius: 5px;
          }
        
          .seventhBox p {
            margin: 10px 0;
          }
    
          .seventhBox button {
            padding: 10px;
            margin: 5px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
    
          .seventhBox button {
            background-color: white;
            color: #0a2136;
            border: 2px solid #0EBEC7;
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 14px;
            border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
          }
    
        /* Change background color on hover */
          .seventhBox button:hover {
            background-color: #FF7273; /* Light red background on hover */
          }

    .customDRBox {
      width: 48%;
      margin: 1%;
      display: inline-block;
      text-align: center;
      background-color: #0a2136; /* Background color for each box */
      border: 2px solid #0ebec7; /* Border color */
      border-radius: 5px; /* Border radius */
      padding: 10px; /* Padding inside each box */
    }

    .customDRBox img {
      width: 100%;
      height: auto;
      max-height: 350px;
      border-radius: 5px;
    }

    .customDRBox p {
      margin: 10px 0;
    }

    .customDRBox button {
      padding: 10px;
      margin: 5px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .customDRBox button {
        background-color: white;
        color: #0a2136;
        border: 2px solid #0EBEC7;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
      }

    /* Change background color on hover */
      .customDRBox button:hover {
        background-color: #FF7273; /* Light red background on hover */
      }

    .customHCBox {
      width: 48%;
      margin: 1%;
      display: inline-block;
      text-align: center;
      background-color: #0a2136; /* Background color for each box */
      border: 2px solid #0ebec7; /* Border color */
      border-radius: 5px; /* Border radius */
      padding: 10px; /* Padding inside each box */
    }

    .customHCBox img {
      width: 100%;
      height: auto;
      max-height: 350px;
      border-radius: 5px;
    }

    .customHCBox p {
      margin: 10px 0;
    }

    .customHCBox button {
      padding: 10px;
      margin: 5px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .customHCBox button {
        background-color: white;
        color: #0a2136;
        border: 2px solid #0EBEC7;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
      }

    /* Change background color on hover */
      .customHCBox button:hover {
        background-color: #FF7273; /* Light red background on hover */
      }

    .customSCBox {
      width: 48%;
      margin: 1%;
      display: inline-block;
      text-align: center;
      background-color: #0a2136; /* Background color for each box */
      border: 2px solid #0ebec7; /* Border color */
      border-radius: 5px; /* Border radius */
      padding: 10px; /* Padding inside each box */
    }

    .customSCBox img {
      width: 100%;
      height: auto;
      max-height: 350px;
      border-radius: 5px;
    }

    .customSCBox p {
      margin: 10px 0;
    }

    .customSCBox button {
      padding: 10px;
      margin: 5px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .customSCBox button {
        background-color: white;
        color: #0a2136;
        border: 2px solid #0EBEC7;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
      }

    /* Change background color on hover */
      .customSCBox button:hover {
        background-color: #FF7273; /* Light red background on hover */
      }

   .customHowToBox {
      width: 48%;
      margin: 1%;
      display: inline-block;
      text-align: center;
      background-color: #0a2136; /* Background color for each box */
      border: 2px solid #0ebec7; /* Border color */
      border-radius: 5px; /* Border radius */
      padding: 10px; /* Padding inside each box */
    }

    .customHowToBox img {
      width: 100%;
      height: auto;
      max-height: 350px;
      border-radius: 5px;
    }

    .customHowToBox p {
      margin: 10px 0;
    }

    .customHowToBox button {
      padding: 10px;
      margin: 5px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .customHowToBox button {
        background-color: white;
        color: #0a2136;
        border: 2px solid #0EBEC7;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 10px; /* Adjust the border-radius to control the button's roundness */
      }

    /* Change background color on hover */
      .customHowToBox button:hover {
        background-color: #FF7273; /* Light red background on hover */
      }

    .chat-container {
      width: 300px;
      margin: 10px auto;
      background-color: #0a2136;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #chat-box {
      height: 100px;
      overflow-y: scroll;
      border: 1px solid #ddd;
      margin-bottom: 10px;
    }

    #chat-box .message {
      margin: 5px 0;
    }

    #user-input {
      width: calc(100% - 50px);
      padding: 10px;
    }

    #send-btn {
      width: 70px;
      padding: 10px;
      border: 1px solid #ddd;
    }
